{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-background-image bg-cover bg-center h-screen w-full">
  <div class="flex items-center justify-center h-full w-full bg-white-900 bg-opacity-50">
    <div class="text-center text-white bg-blue-900 rounded-lg p-5">
      <h2 class="text-5xl font-semibold">Bienvenue sur CoDrive</h2>
      <p class="mt-4 text-xl">La meilleure application de covoiturage.</p>
    </div>
  </div>
</div>
{% endblock %}
